.Subheads-bold{font-family:open-sans-n7, sans-serif;}.subhead_1,.Subheads,.Navi-footer,.Telefon{font-family:open-sans-n4, sans-serif;}.h1---display-center-light,.Headline,.Headline-2,.Headline-gross,.HEAD-INNEN,.Head-Unsere-Produkte{font-family:open-sans-n3, sans-serif;}